@inherits LayoutComponentBase

<PageTitle>CitizenPrinters.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.matfoto.es/" target="_blank">MATFOTO</a>
            <a href="https://www.citizen-systems.com/es/products/printer" target="_blank">CITIZEN</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
