<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Matfoto Printing Center</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="archivos">
                <span class="oi oi-folder" aria-hidden="true"></span> Abrir archivo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="photos">
                <span class="oi oi-image" aria-hidden="true"></span> Imprimir Imagenes
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="carnet">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Imprimir Fotos Carnet
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
