@page "/"

<PageTitle>Index</PageTitle>

<div class="container text-center">
    <h1>Bienvenido!</h1>
    <img src="img/matfotoOriginal.png" class="img-fluid" alt="">
    <h3>Matfoto centro de impresion que quieres hacer hoy?.</h3>
</div>


