<NavBar/>
<div class="container-fluid">
    <div class="row">
        <LeftPanel/>
        <div class="col-6" style="background-color: rgba(50,0,0,.1);">
        Two of three columns
        </div>
        <div class="col" style="background-color: rgba(150,0,0,.1);">
        Three of three columns
        </div>
  </div>
</div>