<div class="col">
    <div class="card">
      <img src="img/folder.png" class="card-img-top" alt="" width="40">
      <div class="card-body">
        <h5 class="card-title">@FolderName</h5>
      </div>
    </div>
</div>

@code {
    [Parameter]
    public string? FolderName { get; set; }
}
